name: CI

on:
  push:
    branches: [ main, dev]
  pull_request:
    branches: [ main, dev , SigmaTest]
  schedule:
    - cron: '17 10 * * 1'

jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [24.x] 

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.x
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Cache pnpm store
        uses: actions/cache@v4
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run tests
        run: pnpm run test
        
  snyk-code:
    name: sast scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write 

    steps:
      - name: Checkout
        uses: actions/checkout@v4
          
      - name: Setup Snyk
        uses: snyk/actions/setup@master

      - name: SAST scan (Snyk Code)
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: |
          snyk code test \
          --severity-threshold=high \
          --sarif-file-output=snyk-test.sarif

      - name: SCA scan (Snyk Open Source)
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: |
          snyk test \
            --all-projects \
            --severity-threshold=high \
            --sarif-file-output=snyk-oss.sarif 

      - name: Upload SARIF (Snyk Code)
        if: always()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk-test.sarif
          category: snyk-code
      
      - name: Upload SARIF (Snyk OSS)
        if: always()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk-oss.sarif
          category: snyk-oss

  trivy:
    name: trivy scans
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Trivy FS (deps & repo)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          format: 'sarif'
          output: 'trivy-fs.sarif'
          severity: 'HIGH,CRITICAL'
          ignore-unfixed: true
          vuln-type: 'os,library'
          exit-code: '0'

      - name: Upload SARIF (Trivy FS)
        uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: trivy-fs.sarif
          category: trivy-fs

      - name: Trivy Config
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'config'
          format: 'sarif'
          output: 'trivy-config.sarif'
          severity: 'HIGH,CRITICAL'
          exit-code: '0'

      - name: Upload SARIF (Trivy Config)
        uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: trivy-config.sarif
          category: trivy-config




